@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
/* navbar */
nav {
    background: linear-gradient(to right, #cbbadc, #6a40a0); 
}
.logo {
    font-family: "League Spartan", sans-serif;
    font-weight: bolder;
    font-size:xx-large;
}
.search{
    width: 500px;
    font-size:small;
}
nav button{
    background: #FF9105;
}
/* slogan */
.left button{
    background-color: #713FBF;
}
/* scroll-animatio */

.scroll-animation {
    background: linear-gradient(to right, #d4bef0, #eecea5, #d4bef0);
    overflow: hidden; 
    width: 98%; 
}

.scroll-list {
    animation: scroll 8s infinite; 
}

@keyframes scroll {
    0%, 100% {
        transform: translateX(0); /* Start and end at the left edge */
    }
    10% {
        transform: translateX(calc(-100% + 100vw)); /* Move to the right edge */
    }
    90% {
        transform: translateX(calc(105% - 100vw)); /* Move to double the container's width */
    }
}

.scroll-list li {
    margin-right: 20px; 
    position: relative;
}

.scroll-list li::before {
    content: "\2022";
    position: absolute;
    left: -10px; 
}
/* footer */
.footer {
    font-family: 'Roboto', sans-serif;
}
