.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px; 
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; 
  width: 16px; 
  left: 2px; 
  bottom: 2px; 
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c6f321;
}

input:focus + .slider {
  box-shadow: 1px 1px 1px #ffe68b;
}

input:checked + .slider:before {
  transform: translateX(20px); 
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
.SaveAvailability{
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.SaveAvailability:hover{
  transform: scale(1.05);
  background-color: #ffd813;
}